#!/bin/bash
TO_ADD='
{
    "[Effect-PresentWindows]": {
        "BorderActivateAll": "9"
    },
    "[Effect-kwin4_effect_translucency]": {
        "MoveResize": "61"
    },
    "[ElectricBorders]": {
        "Bottom": "None",
        "BottomLeft": "None",
        "BottomRight": "None",
        "Left": "None",
        "Right": "None",
        "Top": "None",
        "TopLeft": "None",
        "TopRight": "None"
    },
    "[MouseBindings]": {
        "CommandAll1": "Activate, raise and move",
        "CommandAllKey": "Meta"
    },
    "[NightColor]": {
        "Active": "true",
        "LatitudeFixed": "54.4994",
        "LongitudeFixed": "18.551",
        "Mode": "Location"
    },
    "[Plugins]": {
        "kwin4_effect_translucencyEnabled": "true"
    },
    "[org.kde.kdecoration2]": {
        "ButtonsOnRight": "HFIAX"
    }
}
'
{{ joinPath .chezmoi.sourceDir "lib/modify_ini_file.py" }} "$TO_ADD"
