{
	"in_process_packages":
	[
	],
	"installed_packages":
	[
		"AutoHotkey",
		"Compare Side-By-Side",
		"Debugger",
		"Duplicate Lines",
		"Expand Selection to Quotes",
		"Expand Selection to Whitespace",
		"FoldFunctions",
		"GitGutter",
		"Gomod",
		"GraphQL",
		"HexViewer",
		"HTML (C#)",
		"INI",
		"Jinja2",
		"Kotlin",
		"LSP",
		"LSP-bash",
		"LSP-css",
		"LSP-gopls",
		"LSP-html",
		"LSP-json",
		"LSP-pylsp",
		"LSP-typescript",
		"LSP-yaml",
		"MarkdownPreview",
		"OverrideAudit",
		"Package Control",
		"PowerShell",
		"Pretty JSON",
		"QML",
		"rainbow_csv",
		"RawLineEdit",
		"sublack",
		"SublimeLinter",
		"SublimeLinter-annotations",
		"Terminus",
		"Terraform",
		"TOML",
		"VHDL",
	],
	{{- $file := joinPath .chezmoi.homeDir ".config/sublime-text/Packages/User/Package Control.sublime-settings" }}
	{{- if stat $file }}
	{{- output "sed" "-n" "s/\\(\"bootstrapped\": true\\)/\\1/p" $file | replace "\n" "" | replace "\t" "\n\t" }}
	{{- end }}
}
