{{- $chassisType := (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{
	"default_line_ending": "unix",
	"font_face": "Inconsolata",
	{{- if eq $chassisType "desktop" }}
	"font_size": 14,
	{{- else }}
	"font_size": 12,
	{{- end }}
	"ignored_packages":
	[
		"Vintage",
	],
	"show_encoding": true,
	"show_errors_inline": true,
	"theme": "Default Dark.sublime-theme",
	"translate_tabs_to_spaces": true,
	"word_wrap": true,
	"color_scheme": "Mariana.sublime-color-scheme",
	"fallback_encoding": "Central European (Windows 1250)",
	"binary_file_patterns": [".venv/", ".yarn/", "node_modules/"],
}
