#!/bin/bash
TO_ADD='
{
    "[Actions]": {
        "1\\CaptureDelay": "0",
        "1\\CaptureMode": "0",
        "1\\IncludeCursor": "false",
        "1\\IsCaptureEnabled": "false",
        "1\\IsCopyToClipboardEnabled": "true",
        "1\\IsGlobalShortcutString": "false",
        "1\\IsHideMainWindowEnabled": "true",
        "1\\IsOpenDirectoryEnabled": "false",
        "1\\IsPinImageEnabled": "false",
        "1\\IsSaveEnabled": "true",
        "1\\IsUploadEnabled": "false",
        "1\\Name": "Save and hide main window",
        "1\\Shortcut": "Return",
        "2\\CaptureDelay": "0",
        "2\\CaptureMode": "0",
        "2\\IncludeCursor": "false",
        "2\\IsCaptureEnabled": "false",
        "2\\IsCopyToClipboardEnabled": "false",
        "2\\IsGlobalShortcutString": "false",
        "2\\IsHideMainWindowEnabled": "true",
        "2\\IsOpenDirectoryEnabled": "false",
        "2\\IsPinImageEnabled": "false",
        "2\\IsSaveEnabled": "false",
        "2\\IsUploadEnabled": "false",
        "2\\Name": "Hide main window",
        "2\\Shortcut": "Esc",
        "3\\CaptureDelay": "0",
        "3\\CaptureMode": "0",
        "3\\IncludeCursor": "false",
        "3\\IsCaptureEnabled": "false",
        "3\\IsCopyToClipboardEnabled": "false",
        "3\\IsGlobalShortcutString": "false",
        "3\\IsHideMainWindowEnabled": "false",
        "3\\IsOpenDirectoryEnabled": "true",
        "3\\IsPinImageEnabled": "false",
        "3\\IsSaveEnabled": "false",
        "3\\IsUploadEnabled": "false",
        "3\\Name": "Open parent directory",
        "3\\Shortcut": "",
        "size": "3"
    },
    "[Application]": {
        "AllowResizingRectSelection": "true",
        "ApplicationStyle": "Breeze",
        "AutoCopyToClipboardNewCaptures": "true",
        "AutoHideDocks": "false",
        "AutoHideTabs": "true",
        "AutoSaveNewCaptures": "true",
        "SaveDirectory": "{{ .chezmoi.homeDir }}/Pictures/Screenshots/$Y-$M",
        "SaveFilename": "$Y-$M-$D_$h-$m-$s",
        "StartMinimizedToTray": "true",
        "TrayIconDefaultActionMode": "1",
        "UseTabs": "false"
    },
    "[HotKeys]": {
        "GlobalHotKeysEnabled": "false"
    },
    "[ImageGrabber]": {
        "CaptureCursor": "false"
    },
    "[MainWindow]": {
        "ToolColor_8": "@Variant(\\0\\0\\0\\x43\\x1\\xff\\xff\\xff\\xff\\0\\0\\0\\0\\0\\0)",
        "ToolFillType_8": "0"
    }
}
'
{{ joinPath .chezmoi.sourceDir "lib/modify_ini_file.py" }} "$TO_ADD"
